:root {
    --primary-color: #2c3e50;
    --text-color: #f1b5b5;
    --text-color-2: #f26f6a ;
    --light-gray: #ecf0f1;
    --white: #fff;
    --padding: 1.5rem;
}

body {
    font-family: 'montserrat', sans-serif;
    color: var(--text-color);
    padding: var(--padding-lg);
    background-color: var(--light-gray);
    background-color: #20232c;
}

.chan{ 
  width: 2fr;
  justify-content: start;
  align-content: start;
  border-radius: 1rem;
}
